 {% block body %}
     {% form_theme form 'widget/fields-block.html.twig' %}
    <div class="card card-tabs card-stretch card-custom card-sticky">
        <div class="card-header card-header-stretch card-header-custom">
            <h3 class="card-title"> Evolution des demandes par entreprise et par anné</h3>
        </div> 
        <div class="card-body">

        {{ form_start(form)}}
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">{{ form_row(form.typeContrat) }}</div>
                                <div class="col-md-3"></div>
                            </div>
                        {{ form_end(form, {render_rest: false}) }}
       
            <div class="row">
                <div class="col-md-12">
                    <div class="filter-block d-flex justify-content-center">
                       
                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="alert-error"></div>
                    <div id="container"></div>
                </div>
                {# <div class="col-md-4">

                </div> #}
            </div>
               
        </div> 
    </div>
{% endblock %}

{% block java %}
    
    <script>
        $(function () {
            init_select2();
            //load_data();

            const $type_contrat = $('#{{ form.typeContrat.vars.id }}');
            const $error = $('.alert-error');
            $type_contrat.on('change', function () {
                const $this = $(this);
                const current_value = $this.find('option:selected').attr('data-value');
                $error.html('');
                if ($this.val()) {
                     load_data(current_value, {entreprise: $this.val()});
                } else {
                    $error.html('Veuillez sélectionner un type de contrat');
                }
               
            });
            function load_data(contrat, filters = []) {
                $.getJSON("{{ path('app_rh_dashboard_type_contrat_data') }}", {filters: filters}, function (data) {
                    //console.log(data.series);
                        Highcharts.chart('container', {
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: 'Evolution des effectifs par type de contrat'
                        },
                        subtitle: {
                            text: contrat
                        },
                        xAxis: {
                            categories: data.annees,
                            crosshair: true,
                            title: {
                                text: 'Années'
                            },
                        },
                        yAxis: {
                            min: 0,
                            title: {
                            text: ''
                            }
                        },
                        tooltip: {
                            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                            '<td style="padding:0"><b>{point.y}</b></td></tr>',
                            footerFormat: '</table>',
                            shared: true,
                            useHTML: true
                        },
                        plotOptions: {
                            series: {
                                borderWidth: 0,
                                dataLabels: {
                                    enabled: true,
                                    format: '{point.y:.1f}'
                                }
                            }
                         },
                        /*series: [{
                            name: 'Data',
                            data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 124.1, 95.6, 54.4]

                        }]*/
                        series: data.series
                    });
                });
            }


        });
    </script>
{% endblock %}