{% extends 'base-layout.html.twig' %}
{% block title %}Tableau de bord{% endblock %}
{% block header %}Suzang group | Président {% endblock %}
{% block breadcrumb %}{% endblock %}
{% block body %}
<div class="card card-tabs  card-custom card-sticky">  
    <div class="card-header card-header-stretch card-header-custom">
         <h3 class="card-title"> Tableau de bord</h3>
    </div>
    <div class="card-body">
        <div class="row row-10px">
            <div class="col-xl-3 col-12">
                <ul class="nav flex-column nav-pills  sw-nav-tabs-vertical" id="chartTabs">
                    {% for key, _parametre in modules %}
                        <li class="nav-item">
                            <a class="nav-link {% if key == 0 %}active{% endif %}" data-bs-toggle="tab"
                                href="#{{ _parametre.id }}" data-href="{{ _parametre.href }}">
                                <span class="nav-text">{{ _parametre.label }}</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <a title="Ajouter une demane ici" href="{{ path('app_demande_demande_new') }}" class="btn btn-main btn-sm"
                   data-bs-toggle="modal" data-bs-target="#exampleModalSizeSm2">
                    <i class="bi bi-plus-square text-light"></i>
                    Nouveau
                </a>
            </div>
            <div class="col-xl-9 col-12">
                <div class="tab-content" id="paramChildContent">
                    {% for key, _parametre in modules %}
                            {% set id =  _parametre.id  %}
                        <div class="tab-pane fade {% if key == 0 %}show active{% endif %}" 
                            id="{{ id }}" role="tabpanel" aria-labelledby="{{ id }}">
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block java %}

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-3d.js"></script>
    <script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/maps/modules/offline-exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/cylinder.js"></script>
    
    <script>
        $(document).ready(function () {
            load_tab('chartTabs');

               Highcharts.setOptions({
                        lang: {
                                loading: 'Chargement...',
                                months: ['janvier', 'février', 'mars', 'avril', 'mai', 'juin', 'juillet', 'août', 'septembre', 'octobre', 'novembre', 'décembre'],
                                weekdays: ['dimanche', 'lundi', 'mardi', 'mercredi', 'jeudi', 'vendredi', 'samedi'],
                                shortMonths: ['jan', 'fév', 'mar', 'avr', 'mai', 'juin', 'juil', 'aoû', 'sep', 'oct', 'nov', 'déc'],
                                exportButtonTitle: "Exporter",
                                printButtonTitle: "Imprimer",
                                rangeSelectorFrom: "Du",
                                rangeSelectorTo: "au",
                                rangeSelectorZoom: "Période",
                                downloadPNG: 'Télécharger en PNG',
                                downloadJPEG: 'Télécharger en JPEG',
                                downloadPDF: 'Télécharger en PDF',
                                downloadSVG: 'Télécharger en SVG',
                                resetZoom: "Réinitialiser le zoom",
                                resetZoomTitle: "Réinitialiser le zoom",
                                thousandsSep: " ",
                                decimalPoint: ',' 
                            }        
                    });

        });
    </script>
{% endblock %}