{% block page_content %}
    {% form_theme form 'widget/fields-block.html.twig' %}
    {% from '_macros/demande_workflow.html.twig' import prototype_ligne_colonne %}
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Avis du président | <span style="font-size:16px" >{{ demande.utilisateur.employe.nomComplet}}</span></h5>
        <div class="btn btn-icon btn-sm  ms-2" data-bs-dismiss="modal" aria-label="Close">
            <span class="svg-icon svg-icon-2x text-white">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor"></rect>
					<rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor"></rect>
				</svg>
            </span>
        </div>
    </div>
    {{ form_start(form, {'attr': {'role':'form', 'class': 'form'}}) }}
    <div class="modal-body">

        {#  <div id="list-ligne" data-prototype="{{ list_ligne_motif(form.motifs.vars.prototype, 1)|e }}"></div>#}
        {{ include('_includes/ajax/response.html.twig') }}
        <div class="" style="border-bottom:3px solid #000">


                <!--begin::Input group-->
                <div class="row">
                    <h3 style="color:#3498db">Infos demande</h3>
                </div>
             <div class="row">
            <div class="form-group col-md-6">
                <label class="sr-onl" for="userinput1">Type*</label>
                {{ form_widget(form.type,{attr:{'readonly':true}}) }}</div>
                  <div class="form-group col-md-6">
                <label class="sr-onl" for="userinput1">Date debut*</label>
                {{ form_widget(form.dateDebut) }}</div>
        </div>
        <div class="row journee">
          
            <div class="form-group col-md-8">
                <label class="sr-onl" for="userinput1">Date fin*</label>
                {{ form_widget(form.dateFin) }}</div>

            <div class="form-group col-md-4">
                <label class="sr-onl" for="userinput1">Nombre de jour(inclus)*</label>
                {{ form_widget(form.nbreJour,{attr:{'readonly':true}}) }}
               </div>

        </div>
        <div class="row demi">
            <div class="form-group col-md-6">
                <label class="sr-onl" for="userinput1">Heure debut*</label>
                {{ form_widget(form.heureDebut) }}</div>
            <div class="form-group col-md-6">
                <label class="sr-onl" for="userinput1">Heure Fin*</label>
                {{ form_widget(form.heureFin) }}</div>


        </div>
        <div style="border-bottom:3px solid #000"><br>
        </div>
            <div class="row">
                <h3 style="color:#3498db">Avis directeur</h3>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="fv-row mb-10">
                        <!--begin::Label-->
                        <label class="required fw-semibold fs-6 mb-2">Donner un avis</label>
                        {{ form_widget(form.avis) }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="fv-row mb-10 justification">
                        <label class="required fw-semibold fs-6 mb-2">Justification </label>
                        {{ form_widget(form.justificationDirecteur) }}
                    </div>
                </div>

            </div>

                <div class="row">
                    <h3 style="color:red">Avis président</h3>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="fv-row mb-10">
                            <!--begin::Label-->
                            <label class="required fw-semibold fs-6 mb-2">Donner un avis</label>
                            {{ form_widget(form.avisPresident) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="fv-row mb-10 justification">
                            <label class="required fw-semibold fs-6 mb-2">Justification</label>
                            {{ form_widget(form.justificationPresident) }}
                        </div>
                    </div>

                </div>
                <!--end::Input group-->



        </div>
         <div class="row">
                <h3 style="color:#3498db">Motif demandeur</h3>
            </div>
        <br>
        {{ prototype_ligne_colonne(form) }}


    </div>
    <div class="modal-footer">
        {# {{ include('_includes/ajax/loader.html.twig') }} #}
        {{ form_widget(form.annuler) }}
        {{ form_widget(form.accepatation_president) }}
        {{ form_widget(form.accepatation_president_attente_document) }}
        {{ form_widget(form.refuser_president) }}
    </div>
    {{ form_widget(form._token) }}
    {{ form_end(form, {render_rest: false}) }}



{% endblock %}
{% block java %}
<script>

$(function(){
    init_select2('select', null, '#exampleModalSizeSm2');

})
$(function(){
        if($('.type').find('option:selected').attr('value') == "TYPE_JOURNEE"){
             $('.demi').hide();
             $('.journee').show();
        }else{
            $('.demi').show();
            $('.journee').hide();
        }

        if($('.element').find('option:selected').attr('data-value') == "MOT1"){
            $(".enfant").show()
        }else{
            $(".enfant").hide()
        }
        if($('.element').find('option:selected').attr('data-value') == "MOT3"){
            $(".precisez").show()
        }else{
            $(".precisez").hide()
        }
})


</script>
{% endblock %}